body {
    background-color: rgb(255, 255, 255);
    font-family: Rubik, Arial;
  }

form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
  }
  
h1 {
    text-align: center; 
    color: orange;
}

h2 {
    text-align: center;
  }  

#overlay {
    width: 20%;
    margin: 3% auto;
    height: 35vh;
    background-color: white;
    border-style: solid;
    border-color: black;
    padding: 5px;
  }

#muscountry {
  width: 20%;
  margin: 3% auto;
  height: 45vh;
  background-color: white;
  border-style: solid;
  border-color: black;
  padding: 0%;
  }  

#artist #results {
  padding: 0px;
  height: 5%;
  font-size: xx-small;
}  

/*
li { 
  margin: 0;
  display: inline-block;
}


button {
  float: right;
}
*/